<div class="clearfix"></div>
<div class="container">
    <div id="firendlink">
        <h5>友情连接：</h5>
        <a target="_blank" href="/">美女图片</a>
        <a target="_blank" href="/galleryList/1/1">秀人网</a>
        <a target="_blank" href="/galleryList/23/1">魅妍社</a>
        <a target="_blank" href="/galleryList/7/1">Ligui丽柜</a>
        <a target="_blank" href="/galleryList/51/1">丝间舞</a>
        <a target="_blank" href="/galleryList/14/1">尤蜜荟</a>
        <a target="_blank" href="/galleryList/5/1">AISS爱丝</a>
        <a target="_blank" href="/galleryList/16/1">Pans写真</a>
        <a target="_blank" href="/galleryList/4/1">克拉女神</a>
        <a target="_blank" href="/galleryList/20/1">头条女神</a>
        <a target="_blank" href="/galleryList/27/1">异思趣向</a>
        <a target="_blank" href="/galleryList/75/1">禁忌摄影</a>
        <a target="_blank" href="/galleryList/54/1">中国腿模</a>
        <a target="_blank" href="/galleryList/29/1">DISI第四印象</a>
        <a target="_blank" href="/galleryList/6/1">ROSI写真</a>
    </div>
</div>
<footer>
    <div class="container">
        <p>本站所收录作品均收集于网络,如有侵犯版权或涉黄问题,请来信告知,本站立即予以删除！
            <% if(branchInfo.qq){ %>
            QQ:
            <%= branchInfo.qq %>
            <% } %>
            <% if(branchInfo.email){ %>
            邮箱:
            <%= branchInfo.email %>
            <% } %>
    </div>
</footer>
<script src="/static/npm/jquery.min.js"></script>
<script src="/static/npm/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- <script language="javascript" type="text/javascript" src="/static/src/js/core.js?v=<%= branchInfo.staticVersion%>"></script> -->
<script type="text/javascript">
$(function() {
    $.get("/branchVisitStat", function(result) {
        console.log(result)
    });
    $(".gallery-cover img").error(function() {
        $(this).parent().parent().parent().hide();
    })
});
</script>