<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <meta name="keywords" content="<%= keywords?keywords:branchInfo.keywords%>" />
    <meta name="description" content="<%= description?description:branchInfo.description%>" />
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon " type="images/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/npm/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/src/css/style.css?v=<%= branchInfo.staticVersion%>" />
</head>

<body>