<div class="footer">
    <p>本站系基于互联网搜索引擎技术为您提供信息检索服务。</p>
    <p>Copyright ©2020</script>
    </p>
</div>
<script src="<%=__G__.CONTEXT%>/static/common/lib/zepto.min.js"></script>
<script src="<%=__G__.CONTEXT%>/static/src/js/base.js"></script>
<script src="<%=__G__.CONTEXT%>/static/src/js/trans.js"></script>
</body>

</html>