<div class="clearfix"></div>
<%- include('./searchForm', {}); %>
<footer>
    <a href="#top">
        <img src="//files.35xs.co/m/images/icon-backtop.gif" title="↑" alt="↑" />
    </a>
    <p class="version channel">
        <a href="/">首页</a>
        <a href="https://www.35xs.co">电脑版</a>
        <a href="/user/">我的书架</a>
        <a href="/tempbook">阅读记录</a>
    </p>
    <p>本站所收录作品均是来源于网友上传,与本站立场无关,如有侵犯版权或涉黄问题,请来信告知,本站立即予以删除。 邮箱:35xsmail@gmail.com</p>
</footer>
<script language="javascript" type="text/javascript" src="//cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/src/js/common.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/src/js/core.js"></script>