<div class="Readsetter">
    <div class="box">
        <button id="lightDefault" class="lightbg on">默认</button>
        <button id="lightHuyan" class="lightbg">护眼</button>
        <button id="lightYejian" class="lightbg">夜间</button>
    </div>
    <div class="box">
        <button id="fontBig" class="sizebg on">大</button>
        <button id="fontMiddle" class="sizebg">中</button>
        <button id="fontSmall" class="sizebg">小</button>
    </div>
</div>