<p class="Readpage" style="background:#FFFFFF;padding:2px;">
    <a id="lightdiv" class="button lightoff" onclick="nr_setbg('light')">关灯</a>
    <a id="huyandiv" class="button huyanon" onclick="nr_setbg('huyan')">护眼</a>
    &nbsp;&nbsp;&nbsp;&nbsp; 字体：
    <a id="fontbig" class="sizebg" onclick="nr_setbg('big')">大</a>
    <a id="fontmiddle" class="sizebg" onclick="nr_setbg('middle')">中</a>
    <a id="fontsmall" class="sizebg" onclick="nr_setbg('small')">小</a>
</p>