<div class="clearfix"></div>
<footer>
    <a href="#top" class="backTop">
        <img src="/static/m/images/icon-backtop.gif" title="↑" alt="↑" />
    </a>
    <p class="version channel">
        <a href="/">首页</a>
        <a href="/category">全部小说</a>
        <a href="/bookshelf">我的书架</a>
        <a href="/history">阅读记录</a>
    </p>
    <p>本站所收录作品均是来源于网友上传,与本站立场无关,如有侵犯版权或涉黄问题,请来信告知,本站立即予以删除。 邮箱:99amn.com@gmail.com</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/m/js/core.js?v=<%= branchInfo.staticVersion%>"></script>