<p class="Readpager">
    <a href="./<%= chapter.number-1%>" id="pt_prev" class="Readpage_up">上一章</a>
    <a href="/book/<%= chapter.bookId%>/mulu" id="pt_mulu" class="Readpage_up">目录</a>
    <a href="./<%= chapter.number+1%>" id="pt_next" class="Readpage_down">下一章</a>
</p>