<header class="channelHeader">
    <a href="javascript:history.go(-1);" class="iconback">
        <img alt="返回" src="/static/src/images/header-back.png">
    </a>
    <%= pageTitle %>
    <a href="/" class="iconhome">
        <img alt="首页" src="/static/src/images/header-backhome.png">
    </a>
</header>