<%- include('common/top', {}); %>
<link rel="stylesheet" href="/static/src/css/reset.css" />
<link rel="stylesheet" href="/static/src/css/bookinfo.css" />
<%- include('common/pageHeader', {}); %>
<p class="synopsisAd" style="color: red;"></p>
<div class="synopsisArea">
    <div class="synopsisArea_detail">
        <div id="bookdetail">
            <div id="thumb"> <img src="/data/bookimg/404406.jpg" onerror="this.src='//files.35xs.co/m/images/noimg.jpg'" alt="皇叔宠妃悠着点" /></div>
            <div id="book_info">
                <div style="width: 100%">
                    <ul id="book_detail">
                        <li class="author">作者：竹九乐</li>
                        <li class="sort">类别：<a href="/cate/8/">都市言情</a></li>
                        <li class="">状态：连载</li>
                        <li class="">更新：2020-06-03</li>
                    </ul>
                    <div id="book_score">
                        <div class="score">
                            <div class="score_content" id="score_content">
                                <div class="score_loading"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%">
                    <div id="user_score">评分：</div>
                    <ul class="starlist" id="starlist">
                        <li i="1"><a href="javascript:void(0);" title="1星" class="star_one">1</a></li>
                        <li i="2"><a href="javascript:void(0);" title="2星" class="star_two">2</a></li>
                        <li i="3"><a href="javascript:void(0);" title="3星" class="star_three">3</a></li>
                        <li i="4"><a href="javascript:void(0);" title="4星" class="star_four">4</a></li>
                        <li i="5"><a href="javascript:void(0);" title="5星" class="star_five">5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="btn"> <a href="/book/404406/mulu/">开始阅读</a><a href="javascript:BookMark(404406,0);" class="btn_toBookShelf">加入书架</a><a href="/user/" class="btn_toMyBook">我的书架</a></p>
    <p>
        <script>
        info();
        </script>
    </p>
    <p class="review"> </p>
</div>
<div class="recommend">
    <h2><a>最新章节 &nbsp;&nbsp;&nbsp;&nbsp;更新：2020-6-3 22:28:08</a></h2>
    <div id="chapterlist" class="directoryArea">
        <p><a style="" href="/book/404406/116902346.html">第1443章 连死都不怕的人，还会怕什么…</a></p>
        <p><a style="" href="/book/404406/116902345.html">第1442章 你做了什么！</a></p>
        <p><a style="" href="/book/404406/116884384.html">第1441章 陷入了梦魇</a></p>
        <p><a style="" href="/book/404406/116884383.html">第1440章 心被打乱</a></p>
        <p><a style="" href="/book/404406/116884382.html">第1439章 该不该放开它们</a></p>
        <p><a style="" href="/book/404406/116884381.html">第1438章 不放心</a></p>
        <p><a style="" href="/book/404406/116789781.html">第1437章 找她</a></p>
        <p><a style="" href="/book/404406/116789780.html">第1436章 帝聿的软肋</a></p>
        <p><a style="" href="/book/404406/116782909.html">第1435章 一口黑色的血吐出</a></p>
        <p><a style="" href="/book/404406/116707956.html">第1434章 飞天舞再现</a></p>
    </div>
    <h2><a href="/book/404406/mulu/">查看完整目录</a></h2>
</div>
<%- include('common/footer', {}); %>
<script>
cambrian.render('tail')
</script>
<%- include('common/bottom', {}); %>