<form class="searchForm" method="get" action="/search">
    <input type="text" name="keyword" class="searchForm_input" value="输入书名•作者" />
    <!-- <input type="hidden" name="t" value="1" /> -->
    <input type="submit" class="searchForm_btn" value="搜索" />
</form>