<%- include('common/header', {}); %>
<section class="ptm-content">
    <div class="ptm-tab">
        <ul class="ptm-tab-nav">
            <li class="active"><a href="https://m.read.wtao.cc/">首页</a></li>
            <li class="nav-sort "><a href="/xiaoshuodaquan">分类</a></li>
            <li><a href="/paihangbang/">排行</a></li>
            <li><a href="/home/search">搜索</a></li>
            <li><a href="/home/index/bookcase">书架</a></li>
        </ul>
    </div>
    <div class="ptm-card">
        <div class="ptm-card-header ptm-clearfix">
            <div class="ptm-pull-left">
                本周热门
            </div>
        </div>
        <div class="ptm-card-content" style="padding:0">
            <ul class="ptm-list-view ptm-grid-view pt-card-1">
                <li class="ptm-list-view-cell ptm-img ptm-col-xs-4">
                    <div class="imgarea">
                        <a href="/383_383966/" title="安里别衡"><img class="ptm-img-object" src="https://www.35xs.co/data/bookimg/443414.jpg" alt="安里别衡"></a>
                    </div>
                    <div class="ptm-img-body">
                        <span class="ptm-block pt-name ptm-text-cut"><a href="/383_383966/" title="安里别衡">安里别衡</a></span>
                    </div>
                </li>
                <li class="ptm-list-view-cell ptm-img ptm-col-xs-4">
                    <div class="imgarea">
                        <a href="/386_386838/" title="大理寺卿的宠妻日常顾九秦峥"><img class="ptm-img-object" src="https://www.35xs.co/data/bookimg/447584.jpg" alt="大理寺卿的宠妻日常顾九秦峥"></a>
                    </div>
                    <div class="ptm-img-body">
                        <span class="ptm-block pt-name ptm-text-cut"><a href="/386_386838/" title="大理寺卿的宠妻日常顾九秦峥">大理寺卿的宠妻日常顾九秦峥</a></span>
                    </div>
                </li>
                <li class="ptm-list-view-cell ptm-img ptm-col-xs-4">
                    <div class="imgarea">
                        <a href="/387_387845/" title="都市无敌医神大晨锅"><img class="ptm-img-object" src="https://www.35xs.co/data/bookimg/453244.jpg" alt="都市无敌医神大晨锅"></a>
                    </div>
                    <div class="ptm-img-body">
                        <span class="ptm-block pt-name ptm-text-cut"><a href="/387_387845/" title="都市无敌医神大晨锅">都市无敌医神大晨锅</a></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ptm-card">
        <div class="ptm-card-header ptm-clearfix">
            <a href="/nvpin/" title="女频小说">女频小说</a> </div>
        <div class="ptm-card-content">
            <ul class="pt-card pt-card-7">
                <li>
                    <div class="pt-cover">
                        <a href="/2_2222/" title="我修的可能是假仙"><img src="/static/common/nocover.jpg" alt="我修的可能是假仙"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">144</span>人阅读</div>
                        <div class="pt-name"><a href="/2_2222/" title="我修的可能是假仙">我修的可能是假仙</a></div>
                        <div class="pt-author"><a href="/writter/%E6%98%8E%E6%9C%88%E5%9C%B0%E4%B8%8A%E9%9C%9C.html" title="明月地上霜">明月地上霜</a></div>
                        <div class="pt-desc ptm-text-cut">  简介？不存在的，书都是假的，简介当然也是假的</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387837/" title="房产直播间"><img src="https://www.35xs.co/data/bookimg/453798.jpg" alt="房产直播间"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">234</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387837/" title="房产直播间">房产直播间</a></div>
                        <div class="pt-author"><a href="/writter/%E8%B2%94%E8%9A%AF.html" title="貔蚯">貔蚯</a></div>
                        <div class="pt-desc ptm-text-cut">房产直播间</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387836/" title="贞观小先生"><img src="https://www.35xs.co/data/bookimg/463488.jpg" alt="贞观小先生"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">1008</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387836/" title="贞观小先生">贞观小先生</a></div>
                        <div class="pt-author"><a href="/writter/%E8%82%A5%E7%9A%82%E5%BF%AB%E4%B9%90%E6%B0%B4.html" title="肥皂快乐水">肥皂快乐水</a></div>
                        <div class="pt-desc ptm-text-cut">商界大亨桥文穿越贞观初年，高举格物致知的旗帜，从</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387834/" title="北宋不南渡"><img src="https://www.35xs.co/data/bookimg/452420.jpg" alt="北宋不南渡"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">197</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387834/" title="北宋不南渡">北宋不南渡</a></div>
                        <div class="pt-author"><a href="/writter/%E9%82%A3%E6%97%A5%E5%8D%81%E6%9C%88%E5%8D%81.html" title="那日十月十">那日十月十</a></div>
                        <div class="pt-desc ptm-text-cut">北宋不南渡</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387833/" title="武侠世界的野蛮人"><img src="/static/common/nocover.jpg" alt="武侠世界的野蛮人"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">197</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387833/" title="武侠世界的野蛮人">武侠世界的野蛮人</a></div>
                        <div class="pt-author"><a href="/writter/%E9%87%8D%E4%B8%80%E9%98%B3.html" title="重一阳">重一阳</a></div>
                        <div class="pt-desc ptm-text-cut">武侠世界的野蛮人</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387835/" title="从九叔到斗罗斗破的万界之旅"><img src="/static/common/nocover.jpg" alt="从九叔到斗罗斗破的万界之旅"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">171</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387835/" title="从九叔到斗罗斗破的万界之旅">从九叔到斗罗斗破的万界之旅</a></div>
                        <div class="pt-author"><a href="/writter/%E4%B8%AD%E5%8E%9F%E5%B0%8F%E9%AD%94.html" title="中原小魔">中原小魔</a></div>
                        <div class="pt-desc ptm-text-cut">从九叔到斗罗斗破的万界之旅</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387826/" title="不败狼兵"><img src="/static/common/nocover.jpg" alt="不败狼兵"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">204</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387826/" title="不败狼兵">不败狼兵</a></div>
                        <div class="pt-author"><a href="/writter/%E5%94%90%E6%9C%9D.html" title="唐朝">唐朝</a></div>
                        <div class="pt-desc ptm-text-cut">不败狼兵</div>
                    </div>
                </li>
                <li>
                    <div class="pt-cover">
                        <a href="/387_387827/" title="巫医神瞳"><img src="https://www.35xs.co/data/bookimg/463768.jpg" alt="巫医神瞳"></a>
                    </div>
                    <div class="pt-novel">
                        <div class="pt-num ptm-pull-right"><span style="color:orange">178</span>人阅读</div>
                        <div class="pt-name"><a href="/387_387827/" title="巫医神瞳">巫医神瞳</a></div>
                        <div class="pt-author"><a href="/writter/%E5%A4%A7%E6%AD%8C.html" title="大歌">大歌</a></div>
                        <div class="pt-desc ptm-text-cut">主角林峰秦晴窝囊废林峰做了三年的上门女婿，一日被</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ptm-card-footer">
            <a href="/nvpin/">更多女频小说>></a>
        </div>
    </div>
    <div class="ptm-card">
        <div class="ptm-card-header ptm-clearfix">
            最近更新
        </div>
        <div class="ptm-card-content">
            <ul class="pt-card pt-card-6">
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/34_34882/" title="[综]于花丸之中">[综]于花丸之中</a></span>
                            <span class="pt-author"> / <a href="/writter/%E7%83%A8%E5%8F%AF.html" title="烨可">烨可</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/34_34882/" title="[综]于花丸之中 33.钻石" target="_blank">33.钻石</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/34_34882/" title="[综]于花丸之中"><img src="/static/common/nocover.jpg" alt="[综]于花丸之中"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/357_357927/" title="鬼妈妈的恐怖故事簿">鬼妈妈的恐怖故事簿</a></span>
                            <span class="pt-author"> / <a href="/writter/%E5%A4%9C%E5%90%AC%E6%98%A5%E9%9B%A8.html" title="夜听春雨">夜听春雨</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/357_357927/" title="鬼妈妈的恐怖故事簿 第97章 全文完结" target="_blank">第97章 全文完结</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/357_357927/" title="鬼妈妈的恐怖故事簿"><img src="https://www.35xs.co/data/bookimg/70519.jpg" alt="鬼妈妈的恐怖故事簿"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/104_104249/" title="熟睡之后">熟睡之后</a></span>
                            <span class="pt-author"> / <a href="/writter/%E5%90%BE%E5%8D%B3%E6%AD%A3%E9%81%93.html" title="吾即正道">吾即正道</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/104_104249/" title="熟睡之后 40.疯人院见闻日记1" target="_blank">40.疯人院见闻日记1</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/104_104249/" title="熟睡之后"><img src="/static/common/nocover.jpg" alt="熟睡之后"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/383_383966/" title="安里别衡">安里别衡</a></span>
                            <span class="pt-author"> / <a href="/writter/%E5%B0%8F%E7%87%95%E5%AD%90.html" title="小燕子">小燕子</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/383_383966/" title="安里别衡 第681章 争吵" target="_blank">第681章 争吵</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/383_383966/" title="安里别衡"><img src="https://www.35xs.co/data/bookimg/443414.jpg" alt="安里别衡"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/386_386838/" title="大理寺卿的宠妻日常顾九秦峥">大理寺卿的宠妻日常顾九秦峥</a></span>
                            <span class="pt-author"> / <a href="/writter/%E8%8B%8F%E8%A1%8C%E6%AD%8C.html" title="苏行歌">苏行歌</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/386_386838/" title="大理寺卿的宠妻日常顾九秦峥 第392章 我去会会他" target="_blank">第392章 我去会会他</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/386_386838/" title="大理寺卿的宠妻日常顾九秦峥"><img src="https://www.35xs.co/data/bookimg/447584.jpg" alt="大理寺卿的宠妻日常顾九秦峥"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/387_387845/" title="都市无敌医神大晨锅">都市无敌医神大晨锅</a></span>
                            <span class="pt-author"> / <a href="/writter/%E5%A4%A7%E6%99%A8%E9%94%85.html" title="大晨锅">大晨锅</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/387_387845/" title="都市无敌医神大晨锅 第732章 又是腾龙堂" target="_blank">第732章 又是腾龙堂</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/387_387845/" title="都市无敌医神大晨锅"><img src="https://www.35xs.co/data/bookimg/453244.jpg" alt="都市无敌医神大晨锅"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/379_379766/" title="造化炼神">造化炼神</a></span>
                            <span class="pt-author"> / <a href="/writter/%E8%BF%BD%E9%80%90%E6%97%B6%E5%85%89.html" title="追逐时光">追逐时光</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/379_379766/" title="造化炼神 第370章举世无敌" target="_blank">第370章举世无敌</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/379_379766/" title="造化炼神"><img src="/static/common/nocover.jpg" alt="造化炼神"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/387_387852/" title="长安阴阳道">长安阴阳道</a></span>
                            <span class="pt-author"> / <a href="/writter/%E6%BC%8F%E7%BD%91%E7%9A%84%E5%B0%8F%E9%B1%BC%E5%84%BF.html" title="漏网的小鱼儿">漏网的小鱼儿</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/387_387852/" title="长安阴阳道 第三百一十五节 忘川行" target="_blank">第三百一十五节 忘川行</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/387_387852/" title="长安阴阳道"><img src="/static/common/nocover.jpg" alt="长安阴阳道"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/387_387850/" title="我在漫威刷碎片">我在漫威刷碎片</a></span>
                            <span class="pt-author"> / <a href="/writter/%E6%88%91%E5%90%83%E8%A5%BF%E7%93%9C%E4%B8%80%E4%B8%87%E5%B9%B4.html" title="我吃西瓜一万年">我吃西瓜一万年</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/387_387850/" title="我在漫威刷碎片 第281章 乌木喉重伤！" target="_blank">第281章 乌木喉重伤！</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/387_387850/" title="我在漫威刷碎片"><img src="/static/common/nocover.jpg" alt="我在漫威刷碎片"></a>
                    </div>
                </li>
                <li>
                    <div class="pt-novel">
                        <div class="pt-one">
                            <span class="pt-author">05-28 </span>
                            <span class="pt-name"><a href="/387_387849/" title="三爷，夫人又熊了江清柠沈烽霖">三爷，夫人又熊了江清柠沈烽霖</a></span>
                            <span class="pt-author"> / <a href="/writter/%E5%9D%91%E7%88%B7%E4%B8%8D%E5%9D%91%E7%88%B9.html" title="坑爷不坑爹">坑爷不坑爹</a></span>
                        </div>
                        <div class="pt-desc ptm-text-cut "><a href="/387_387849/" title="三爷，夫人又熊了江清柠沈烽霖 第783章 你在怀疑我" target="_blank">第783章 你在怀疑我</a></div>
                    </div>
                    <div class="pt-cover">
                        <a href="/387_387849/" title="三爷，夫人又熊了江清柠沈烽霖"><img src="https://www.35xs.co/data/bookimg/456128.jpg" alt="三爷，夫人又熊了江清柠沈烽霖"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ptm-card">
        <div class="ptm-card-header ptm-clearfix">
            友情链接
        </div>
        <div class="ptm-card-content">
            <p class="friendlink">
                <a href="https://www.wtao.cc" target="_blank">我淘资源网</a><a href="https://fuli.wtao.cc" target="_blank">淘宝超省钱</a> </p>
        </div>
    </div>
</section>
<div class="ptm-line-x"></div>
<%- include('common/footer', {}); %>