.synopsisArea .hot_sale {
    background: #edfaff;
    border: none;
}

.synopsisArea .hot_sale .bookimg {
    width: 110px;
    height: 120px;
    text-align: center;
}

.synopsisArea .hot_sale .bookimg img {
    width: 90px;
    height: 120px;
}

.synopsisArea .hot_sale .bookinfo p {
    color: #4c6978
}

.synopsisArea .btn {
    line-height: 28px;
    text-align: center;
    padding-top: 8px;
}

.synopsisArea .btn {
    line-height: 28px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}

.synopsisArea .btn a {
    margin: 5px 3px;
    padding: 5px 18px 5px 18px;
    background-size: 20px;
    background: #eb2650;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 1px #d32248 inset;
}

.synopsisArea .btn .btn_toBookShelf {
    background: #f0962a;
    box-shadow: 0 2px 1px #d88726 inset;
}

.synopsisArea .btn .btn_toMyBook {
    background: #658fbd;
    box-shadow: 0 2px 1px #5b80aa inset;
}

.synopsisArea .review {
    padding: 10px;
    line-height: 23px;
}

.recommend {
    width: 100%;
    clear: both;
}

.recommend h2 {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    background: #68aac2;
    padding: 0 10px;
}

.recommend h2 a {
    color: #fff;
    text-shadow: 1px 1px #2a779d;
}

.directoryArea p {
    height: auto;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}