.sortChannel_nav {
    height: auto;
    overflow: hidden;
    float: left;
    width: 20%;
    background: #fff;
    position: relative;
}

.sortChannel_nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px #d6d6d6 solid;
    margin-top: -1px;
    background: #fff;
}

.sortChannel_nav a.sel {
    border-right: none;
    color: #4baacd;
}

.recommend {
    float: left;
    width: 80%;
    padding-left: 10px;
    border-left: 1px #d6d6d6 solid;
    margin-left: -1px;
}