body {
    /*background-color: #E9FAFF;*/
    /*color: #555;*/
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background: #f2f2f2;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}

.topbar-sethome,
.topbar-addfavorite,
.topbar-login .btn-submit,
.detail-box .imgbox .flag {
    background: url('../images/all.gif') no-repeat scroll 0 0 transparent;
}

.topbar {
    background-color: #E1ECED;
    border-bottom: 1px solid #A6D3E8;
    color: gray;
    height: 29px;
    font-size: 12px;
    margin-bottom: 10px;
}

.topbar-con {
    line-height: 28px;
    text-indent: 16px;
    vertical-align: middle;
}

.topbar-sethome {
    background-position: 0 8px;
    float: left;
    margin-right: 20px;
}

a {
    color: #000;
}

a:hover {
    color: #337ab7;
    text-decoration: none;
}

.topbar a {
    color: gray;
}

.topbar-addfavorite {
    background-position: 0 -12px;
    float: left;
}


.topbar-login .input-text {
    border: 1px solid #A6D3E8;
    height: 20px;
    width: 90px;
    margin: 4px 0;
    vertical-align: top;
    outline: 0 none;
    margin-right: 15px;
}

.topbar-login .btn-submit {
    background-position: 0 -96px;
    border: medium none;
    color: #2A4E8A;
    font-size: 12px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    width: 51px;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 30px;
}


.header .logo a {
    font-family: 楷体_GB2312, STKaiti;
    /*display: block;*/
    /*float: left;*/
    height: 76px;
    /*width: 250px;*/
    line-height: 76px;
    color: #0065b5;
    font-size: 40px;
    text-shadow: #8c8989 3px 3px 6px;
}

.header-search.container+.container {
    margin-top: -10px;
}

.search-box {
    overflow: hidden;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}

.search-box .search-box-form {
    float: left;
    width: 375px;
}

.search-box .search-box-right {
    overflow: hidden;
}

.search-box .search-box-right a {
    line-height: 28px;
    margin-right: 5px;
    color: #d8a738;
    text-decoration: underline;
}

.search-box .search-box-right a.to-find-model {
    display: inline-block;
    height: 28px;
    padding: 0 10px;
    background: #d8a738;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
}

.search-form {
    /*margin-top: 22px;*/
}

.search-form .input-key {
    border: 1px solid #A6D3E8;
    font: 14px/32px arial;
    height: 28px;
    /*margin-right: 5px;*/
    width: 300px;
    text-indent: 10px;
    border-radius: 2px;
    border-color: #999;
}

.search-form .btn-tosearch {
    background: #c53727;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 28px;
    width: 60px;
    border: 0 none;
    border-radius: 2px;
}

.container {
    padding: 0;
}

.navbar {
    background: #3a6ca4;
}

.navbar li * {
    color: white !important;
    font-size: 15px;
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
    background: #337ab7;
    color: white !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.border {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.padding-0 {
    padding: 0;

}

.carousel .carousel-indicators {
    /*height: 300px;*/
    bottom: 0px;
}

.carousel .carousel-inner .item img {
    height: 308px;
    margin: 0 auto;
    width: 100%;
}

.carousel .carousel-inner .carousel-caption {
    padding: 5px 0;
    text-indent: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}

.book-box {
    /*padding: 0;*/
    margin-top: 20px;
}

.book-list-box {
    background: #fff;
    /*position: relative;*/
    overflow: hidden;
}

.book-list {
    padding: 10px;
    margin: 0;
    overflow: hidden;
    clear: both;
}

.book-list-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.book-list-title {
    /*position: absolute;*/
    float: left;
    background-color: #4a82c0;
    color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 12px;
    letter-spacing: 4px;
    overflow: hidden;
    margin: 0 0 0 15px;
    padding: 5px 10px;
}

.book-list-header {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    margin: 0;
    padding: 6px 10px;
    text-align: center;
    text-align-last: left;
    word-break: break-all;
}

.book-list-remark {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-weight: bold;
    margin: 0 20px;
    padding: 20px 0;
}

.book-list-footer {
    overflow: hidden;
    padding: 5px 5px 10px 5px;
}

.book-list-footer .btn-more {
    border-radius: 15px;
    padding: 2px 25px;
    float: right;
    margin: 0 20px 5px;
}

.pagination-box {
    text-align: center;
}

.pagination-box li a {
    padding: 4px 10px;
    margin: 1px;
    border-radius: 4px;
}

.article-item {
    display: block;
    overflow: hidden;
    line-height: 32px;
    border-bottom: 1px dashed #ccc;
    padding-left: 20px;
    background: url(../images/icon.png) 0 center no-repeat;
}

.article-item:last-child {
    border: none;
}

.article-item .article-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.article-item .article-time {
    float: right;
    line-height: 32px;
    margin-right: 20px;
    font-size: 14px;
    color: #999;
}

.article-item-1 {
    border: none;
}

.article-item-1 .article-title {
    color: #337ab7;
}

.article-item-2 {
    display: block;
    /*border-bottom: 1px solid #ccc;*/
    margin-bottom: 15px;
}

.article-item-2:last-child {
    border: none;
    margin: 0;
}

.article-item-2 .article-cover {
    height: 160px;
    background: #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*.article-item-2 .article-cover:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/

.article-item-2 .article-cover img {
    /*width: 100%;*/
    height: 100%;
    /*vertical-align: middle;*/
}

.article-item-2 .article-title {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*.article-item-3 .article-cover {
    height: 170px;
}*/

.article-detail .article-header {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.article-detail {
    border-bottom: 1px dashed #ccc;
}

.article-detail .article-time {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
}

.article-detail .article-content {
    padding-top: 20px;
    border-top: 1px dashed #ccc;
}

.article-detail .article-content a {
    color: #337ab7;
}

.article-detail .article-content img {
    margin: 5px 0;
    max-width: 100% !important;
    height: auto !important;
}

.model-item-1 {
    display: block;
    list-style: none;
    border: 1px solid #ccc;
    margin: 10px 0 10px 0;
}

.model-cover {
    height: 160px;
    width: 100%;
    background-color: #eee;
    /*border-bottom: 1px solid #ccc;*/
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.model-remark {
    line-height: 24px;
    padding: 10px 20px;
    text-align: center;
    text-align-last: left;
}

/*.model-cover::after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/

.model-cover img {
    height: 100%;
    /*width: 100%;*/
    /*vertical-align: middle;*/

}

.model-item-1 .model-name {
    margin: 5px;
    text-align: center;
}

.model-item-1 .model-job {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.model-item-1 .model-birth {
    margin: 5px;
    text-align: center;
    color: #D8A738 !important;
}

@media (min-width: 992px) {
    .home-right-box {
        padding-left: 5px;
    }
}

.model-item-2 {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

.model-item-2 .model-cover {
    width: 30%;
    height: 160px;
    float: left;
}

.model-item-2 .model-name {
    overflow: hidden;
    line-height: 24px;
    text-indent: 20px;
    padding: 10px;
}

.model-item-3 {
    display: block;
    background: url(../images/icon.png) 0 3px no-repeat;
    border-bottom: 1px dashed #ccc;
    line-height: 32px;
    text-indent: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.home-right-box {
    margin-top: 20px;
    /*padding: 0;*/
}

.home-right-box .nav-tabs>li>a,
.home-right-box .nav-tabs>li>a:focus,
.home-right-box .nav-tabs>li>a:hover,
.home-right-box .nav-tabs>li.active>a,
.home-right-box .nav-tabs>li.active>a:focus,
.home-right-box .nav-tabs>li.active>a:hover {
    padding: 5px 7px;
    color: #fff;
    margin-right: 7px;
    border: none;
}

.home-right-box .tab-content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding: 1px;
    margin-top: -1px;
    min-height: 400px;
}

.model-item-4 {
    display: block;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    /*margin: 15px;*/
    /*padding-bottom: 15px;*/
    margin: 0 10px;
    padding: 10px 0;
}

.model-item-4:last-child {
    border: none;
}

.model-item-4 .model-cover {
    width: 40%;
    height: 130px;
    float: left;
}

.model-item-4 .model-info {
    overflow: hidden;
    line-height: 24px;
    /*text-indent: 20px;*/
    padding: 10px;
}

.model-item-4 .model-name {
    font-weight: bold;
}

.model-item-5 .model-cover {
    height: 215px;
}

.model-item-6 .model-name {
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.model-item-6 .model-detail {
    padding: 10px;
    overflow: hidden;
}

.model-item-6 .model-cover {
    /*width: 20%;*/
    /*float: left;*/
    height: 228px;
    border: 1px solid #ccc;
}

.model-item-6 .model-info {
    /*float: left;*/
    color: #666;
    line-height: 24px;
    padding-left: 25px;
}

.model-item-6 .model-other span {
    color: #000;
    /*padding-left: 10px;*/
}

.model-item-7:last-child {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
}

.model-item-7 .model-cover {
    height: 200px;
}

.model-item-7 .model-info {
    padding-left: 20px;
}

.right-box-tag {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    margin: 0 10px;
}

.tag-group {
    background: url(../images/icon1.gif) 5px 12px no-repeat;
    padding: 5px 0px 5px 15px;
    border-bottom: 1px dashed #ccc;
}

.tag-group .tag-item {
    display: inline-block;
    margin: 0px;
    padding: 2px 5px;
    border-radius: 2px;
}

.tag-group .tag-item.active {
    background: #d61810;
    color: #fff;
}

.tag-header {
    margin: 15px 0;
}

.tag-header .tag-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.tag-header .tag-remark {
    color: #000;
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-align-last: left;
    word-break: break-all;
}

.tag-header .tag-collapse {
    color: #337ab7;
}

.gallery-item {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery-item .gallery-cover img {
    max-width: 100%;
}

.gallery-item .gallery-title {
    position: absolute;
    padding: 4px 5px;
    background: rgba(0, 0, 0, 0.5);
    top: 80%;
    width: 80%;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.gallery-item .gallery-title-1 {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.gallery-detail-header>* {
    text-align: center;
    margin: 5px;
}

.gallery-detail-header .gallery-detail-title {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery-detail-header .gallery-detail-tags a {
    margin: 2px;
    padding: 2px 5px;
    background: #999;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
}

.gallery-detail-header .gallery-detail-remark,
.gallery-detail-header .gallery-detail-other {
    /*font-size: 12px;*/
}

.gallery-detail-content .gallery-detail-img img {
    width: 100%;
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    font-weight: normal;
    color: #000;
}

.form-horizontal .form-group {
    margin: 5px 0;
    padding: 0;
}

.selector-slider {
    overflow: hidden;
    padding-left: 0;
}

@media (min-width: 768px) {
    .selector-slider {
        margin-top: 7px;
    }

    .selector-select select {
        margin-top: 7px;
    }
}

.selector-slider .selector-slider-text {
    /*float: left;*/
    overflow: hidden;
    padding-left: 5px;
    width: 40%;
}

.selector-slider .selector-slider-text input {
    width: 100%;
    border: none;
    color: #f6931f;
}

.selector-slider .selector-slider-box {
    /*overflow: hidden;*/
    float: left;
    width: 60%;
    margin-top: 5px;
}

.selector-select {
    /*width: 100%;*/
}

.selector-select select {
    width: 100%;
}

footer {
    color: #b2b2b2;
    text-align: center;
    margin: 30px auto;
    line-height: 24px;
}

#firendlink {
    margin: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    line-height: 24px;
    margin-top: 30px;
    padding: 9px;
    border-radius: 4px;
}

#firendlink h5 {
    font-weight: bold;
}

#firendlink a {
    color: #000;
    display: inline-block;
    margin: 0 9px 0 0;
}

@media (max-width: 768px) {
    .article-item-2 .article-cover {
        height: 135px;
    }

    .gallery-detail-header>* {
        text-align: left;
    }
}