<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=utf-8" />
    <title>阅读记录_闪舞小说网</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="//files.35xs.co/m/css/reset.css" />
    <link rel="stylesheet" href="//files.35xs.co/m/css/rank.css" />
    <style type="text/css">
    header a {
        margin: 0;
    }

    .channelHeader {
        overflow: hidden;
        padding: 0;
        width: 100%;
    }

    .iconback {
        float: left;
    }

    .iconhome {
        float: right;
    }

    .iconback,
    .iconhome {
        background: none;
        margin-top: 3px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }

    .channelHeader2 .iconhome {
        margin-top: -44px;
    }

    .iconback img,
    .iconhome img {
        width: 40px;
        height: 40px;
        font-size: 12px;
        text-align: center;
        line-height: 40px;
    }

    .pageBox .iconback,
    .pageBox .iconhome {
        background: none;
    }
    </style>
</head>

<body class="pageBox">
    <div class="main transition">
        <header class="channelHeader">
            <div class="tabArea tab-navarea">
                <div class="tab-nav tab-nav2 clearfix">
                    <h2 style="height:50px;width:16%"> <a class="iconback" href="/"><img src="//files.35xs.co/m/images/header-backhome.gif" alt="首页" /></a></h2>
                    <h2 style="width:84%;height:50px;"> <a style="color:White;height:50px;line-height:50px;">阅读记录(保存最近阅读10本书)</a></h2>
                </div>
            </div>
        </header>
        <div class="tabArea list rankingList rankingList_3">
            <div class="slide-con slide-con2">
                <div id="UserTempBook" class="slide-item list1">
                    <div class="hot_sale"> <span class="num num1">1</span> <a href="/book/288866/">
                            <p class="title">一剑独尊</p>
                            <p class="author">作者：</p>
                        </a>
                        <p class="author">最近更新：<a style="color: Red;" href="/book/288866/116838562.html" target="_blank">剑中仙 第一千三百三十七章：震惊的叶知命！</a></p>
                        <p class="author">上次阅读：<a bookid="288866" href="/book/288866/64602154.html" target="_blank">第一章:谁敢动我妹!</a></p>
                        <p class="author"> <a href="javascript:delcase(288866)">
                                <font color="#ff0000">从书架删除</font>
                            </a></p>
                    </div>
                    <div class="hot_sale"> <span class="num num1">1</span> <a href="/book/257019/">
                            <p class="title">三寸人间</p>
                            <p class="author">作者：</p>
                        </a>
                        <p class="author">最近更新：<a style="color: Red;" href="/book/257019/116885492.html" target="_blank">第964章 也是星辰！</a></p>
                        <p class="author">上次阅读：<a bookid="257019" href="/book/257019/116690976.html" target="_blank">第960章 祭天之礼!</a></p>
                        <p class="author"> <a href="javascript:delcase(257019)">
                                <font color="#ff0000">从书架删除</font>
                            </a></p>
                    </div>
                    <div class="hot_sale"> <span class="num num1">1</span> <a href="/book/404406/">
                            <p class="title">皇叔宠妃悠着点</p>
                            <p class="author">作者：</p>
                        </a>
                        <p class="author">最近更新：<a style="color: Red;" href="/book/404406/116902346.html" target="_blank">第1443章 连死都不怕的人，还会怕什么…</a></p>
                        <p class="author">上次阅读：<a bookid="404406" href="/book/404406/116902345.html" target="_blank">第1442章 你做了什么！</a></p>
                        <p class="author"> <a href="javascript:delcase(404406)">
                                <font color="#ff0000">从书架删除</font>
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
        <form class="searchForm" method="get" action="/book/search"> <input type="text" name="keyword" class="searchForm_input searchForm_input2" value="输入书名•作者" /> <input type="hidden" name="t" value="1" /> <input type="submit" class="searchForm_btn" value="搜索" /></form>
        <footer><a href="#top"><img src="//files.35xs.co/m/images/icon-backtop.gif" title="↑" alt="↑" /></a>
            <p class="version channel"> <a href="/">首页</a> <a href="https://www.35xs.co">电脑版</a> <a href="/user/">我的书架</a> <a href="/tempbook">阅读记录</a>
            </p>
            <p>本站所收录作品均是来源于网友上传,与本站立场无关,如有侵犯版权或涉黄问题,请来信告知,本站立即予以删除。 邮箱:35xsmail@gmail.com</p>
        </footer>
        <script language="javascript" type="text/javascript" src="//cdn.jsdelivr.net/npm/zepto@1.2.0/dist/zepto.min.js"></script>
        <script language="javascript" type="text/javascript" src="//files.35xs.co/m/js/common.min.js"></script>
        <script language="javascript" type="text/javascript" src="//files.35xs.co/js/core.js"></script>
        <div style="display: none">
            <script src="//s4.cnzz.com/z_stat.php?id=1260282446&web_id=1260282446" language="JavaScript"></script>
        </div>
    </div>
</body>

</html>