<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <div class="row ">
        <div class="col-md-12 border book-list-box" style="padding: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/html/694/694902/">
                            <img onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/zhongfan1988.jpg" alt="重返1988"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">关外西风 </span>
                            <a class="book-title" href="/html/694/694902/">重返1988 </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/html/694/694902/">亿万富翁功成名就的陆峰意外回到了1988，看着可爱的女儿有些发懵，更懵的是，这个漂亮老婆是怎么回事儿？　　…</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/html/694/694902/">
                            <img onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/zhongfan1988.jpg" alt="重返1988"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">关外西风 </span>
                            <a class="book-title" href="/html/694/694902/">重返1988 </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/html/694/694902/">亿万富翁功成名就的陆峰意外回到了1988，看着可爱的女儿有些发懵，更懵的是，这个漂亮老婆是怎么回事儿？　　…</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/html/694/694902/">
                            <img onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/zhongfan1988.jpg" alt="重返1988"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">关外西风 </span>
                            <a class="book-title" href="/html/694/694902/">重返1988 </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/html/694/694902/">亿万富翁功成名就的陆峰意外回到了1988，看着可爱的女儿有些发懵，更懵的是，这个漂亮老婆是怎么回事儿？　　…</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/html/694/694902/">
                            <img onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/zhongfan1988.jpg" alt="重返1988"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">关外西风 </span>
                            <a class="book-title" href="/html/694/694902/">重返1988 </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/html/694/694902/">亿万富翁功成名就的陆峰意外回到了1988，看着可爱的女儿有些发懵，更懵的是，这个漂亮老婆是怎么回事儿？　　…</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/html/694/694902/">
                            <img onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/zhongfan1988.jpg" alt="重返1988"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">关外西风 </span>
                            <a class="book-title" href="/html/694/694902/">重返1988 </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/html/694/694902/">亿万富翁功成名就的陆峰意外回到了1988，看着可爱的女儿有些发懵，更懵的是，这个漂亮老婆是怎么回事儿？　　…</a>
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-4 book-item-1">
                    <div class="book-image">
                        <a href="/html/694/694902/">
                            <img onerror="src='/images/nopic.gif'" src="https://ggzqimg.cdn.bcebos.com/BookFiles/BookImages/zhongfan1988.jpg" alt="重返1988"></a>
                    </div>
                    <dl>
                        <dt>
                            <span class="book-author">关外西风 </span>
                            <a class="book-title" href="/html/694/694902/">重返1988 </a>
                        </dt>
                        <dd class="book-abstract">
                            <a href="/html/694/694902/">亿万富翁功成名就的陆峰意外回到了1988，看着可爱的女儿有些发懵，更懵的是，这个漂亮老婆是怎么回事儿？　　…</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-9 border book-list-box home-banner-box">
            <h2 class="book-list-title">最近更新小说列表</h2>
            <ul class="book-list">
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-4">
                        <span class="book-category">[历史军事]</span>
                        <span class="book-title">
                            <a href="/html/565/565171/">大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪</a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <span class="book-new-chapter"><a href="/html/565/565171/6305027.html">第一千零二十八章 劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说</a></span>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <span class="book-updated hidden-xs hidden-sm">05-08</span>
                        <span class="book-author text-right">折脚踝骨折</span>
                    </div>
                </li>
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-4">
                        <span class="book-category">[历史军事]</span>
                        <span class="book-title">
                            <a href="/html/565/565171/">大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪</a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <span class="book-new-chapter"><a href="/html/565/565171/6305027.html">第一千零二十八章 劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说</a></span>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <span class="book-updated hidden-xs hidden-sm">05-08</span>
                        <span class="book-author text-right">折脚踝骨折</span>
                    </div>
                </li>
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-4">
                        <span class="book-category">[历史军事]</span>
                        <span class="book-title">
                            <a href="/html/565/565171/">大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪大明流匪</a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <span class="book-new-chapter"><a href="/html/565/565171/6305027.html">第一千零二十八章 劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说</a></span>
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <span class="book-updated hidden-xs hidden-sm">05-08</span>
                        <span class="book-author text-right">折脚踝骨折</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 border book-list-box">
            <h2 class="book-list-title">最新入库小说</h2>
            <ul class="book-list">
                <li class="book-item-2">
                    <span class="book-category">[女生频道]</span>
                    <span class="book-author">吱吱</span>
                    <span class="book-title"><a href="/html/192/192329/">慕南枝</a></span>
                </li>
                <li class="book-item-2">
                    <span class="book-category">[女生频道]</span>
                    <span class="book-author">吱吱</span>
                    <span class="book-title"><a href="/html/192/192329/">慕南枝</a></span>
                </li>
                <li class="book-item-2">
                    <span class="book-category">[女生频道]</span>
                    <span class="book-author">吱吱</span>
                    <span class="book-title"><a href="/html/192/192329/">慕南枝</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>