<%- include('common/top', {}); %>
<%- include('common/mainHeader', {}); %>
<div class="container">
    <ul class="child-nav">
        <li><a href="/paihangbang_weekvisit/1.html" title="周点击榜">周点击榜</a></li>
        <li><a href="/paihangbang_monthvisit/1.html" title="月点击榜">月点击榜</a></li>
        <li><a href="/paihangbang_allvisit/1.html" title="总点击榜">总点击榜</a></li>
        <li><a href="/paihangbang_weekvote/1.html" title="周推荐榜">周推荐榜</a></li>
        <li><a href="/paihangbang_monthvote/1.html" title="月推荐榜">月推荐榜</a></li>
        <li><a href="/paihangbang_allvote/1.html" title="总推荐榜">总推荐榜</a></li>
        <li><a href="/paihangbang_goodnum/1.html" title="总收藏榜">总收藏榜</a></li>
        <li><a href="/paihangbang_size/1.html" title="总字数榜">总字数榜</a></li>
        <li><a href="/paihangbang_postdate/1.html" title="最新入库">最新入库</a></li>
        <li><a href="/paihangbang_lastupdate/1.html" title="最近更新">最近更新</a></li>
        <li><a href="/paihangbang_goodnew/1.html" title="新书榜单">新书榜单</a></li>
    </ul>
    <div class="row ">
        <div class="col-md-12 border book-list-box" style="margin-top: 0;">
            <h2 class="book-list-title">最近更新小说列表</h2>
            <ul class="book-list">
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-3">
                        <span class="book-category">[历史军事]</span>
                        <span class="book-title">
                            <a href="/html/565/565171/">大明流匪</a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <span class="book-new-chapter"><a href="/html/565/565171/6305027.html">第一千零二十八章 劝说</a></span>
                    </div>
                    <div class="col-xs-3 col-md-4">
                        <span class="book-published hidden-xs hidden-sm">连载中</span>
                        <span class="book-updated hidden-xs hidden-sm">2021-05-08</span>
                        <span class="book-author text-right">折脚踝骨折</span>
                    </div>
                </li>
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-3">
                        <span class="book-category">[历史军事]</span>
                        <span class="book-title">
                            <a href="/html/565/565171/">大明流匪大</a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <span class="book-new-chapter"><a href="/html/565/565171/6305027.html">第一千零二十八章 劝说劝说劝说劝说劝</a></span>
                    </div>
                    <div class="col-xs-3 col-md-4">
                        <span class="book-published hidden-xs hidden-sm">连载中</span>
                        <span class="book-updated hidden-xs hidden-sm">2021-05-08</span>
                        <span class="book-author text-right">折脚踝骨折</span>
                    </div>
                </li>
                <li class="book-item-5 row">
                    <div class="col-xs-9 col-md-3">
                        <span class="book-category">[历史军事]</span>
                        <span class="book-title">
                            <a href="/html/565/565171/">大明流匪大明流匪大明流匪</a>
                        </span>
                    </div>
                    <div class="col-md-5 hidden-xs hidden-sm">
                        <span class="book-new-chapter"><a href="/html/565/565171/6305027.html">第一千零二十八章 劝说劝说劝说劝说劝说劝说劝说劝说劝说劝说劝</a></span>
                    </div>
                    <div class="col-xs-3 col-md-4">
                        <span class="book-published hidden-xs hidden-sm">连载中</span>
                        <span class="book-updated hidden-xs hidden-sm">2021-05-08</span>
                        <span class="book-author text-right">折脚踝骨折</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('common/footer', {}); %>
<%- include('common/bottom', {}); %>